AI Email Classifier (Groq).json
{
  "name": "AI Email Classifier (Groq)",
  "nodes": [
    {
      "parameters": {},
      "id": "b15a848f-8ac4-4b0d-99b5-743242a97540",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        144
      ]
    },
    {
      "parameters": {
        "filePath": "/home/node/.n8n-files/test_emails_dataset.csv"
      },
      "id": "ff6c1215-3e42-4279-969c-ebbcae661c2b",
      "name": "Read CSV File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -496,
        144
      ],
      "notes": "Замени путь на актуальный путь к test_emails_dataset.csv на VPS"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "671b446a-8401-4c63-a36f-a8f010949b14",
      "name": "Parse CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        -272,
        144
      ],
      "notes": "В новых версиях n8n это узел 'Extract From File' -> CSV"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\n\n// Output Parser уже распарсил JSON, поля доступны напрямую\nreturn {\n  json: {\n    id: $('Parse CSV').item.json.id,\n    from_name: $('Parse CSV').item.json.from_name,\n    subject: $('Parse CSV').item.json.subject,\n    category: item.category,\n    priority: item.priority,\n    reasoning: item.reasoning,\n    error: false\n  }\n};"
      },
      "id": "887b140d-c081-427e-b90b-b745612e2e88",
      "name": "Parse Groq Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        144
      ],
      "notes": "Достаёт JSON из ответа Groq и склеивает с оригинальными полями письма"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appQ0iU3BWKCqDkOA",
          "mode": "list",
          "cachedResultName": "tiktok",
          "cachedResultUrl": "https://airtable.com/appQ0iU3BWKCqDkOA"
        },
        "table": {
          "__rl": true,
          "value": "tblH9Ryo6ZEQ9TKBx",
          "mode": "list",
          "cachedResultName": "Classifield Emails",
          "cachedResultUrl": "https://airtable.com/appQ0iU3BWKCqDkOA/tblH9Ryo6ZEQ9TKBx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "from_name": "={{ $json.from_name }}",
            "subject": "={{ $json.subject }}",
            "category": "={{ $json.category }}",
            "priority": "={{ $json.priority }}",
            "reasoning": "={{ $json.reasoning }}",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "from_name",
              "displayName": "from_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reasoning",
              "displayName": "reasoning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "170cdda2-9ea6-4781-b42a-b31c05fb424a",
      "name": "Save to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        768,
        144
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KSKMIxhaklRtvihK",
          "name": "Airtable Personal Access Token account"
        }
      },
      "notes": "Замени YOUR_AIRTABLE_BASE_ID и подключи Airtable credential"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "=",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "524a817b-da5f-4a1b-bee4-11cfe033ba33"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cdc25970-c7be-4f98-b800-75949bea0074",
      "name": "If Priority = High",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        992,
        144
      ]
    },
    {
      "parameters": {
        "chatId": "1176327151",
        "text": "=🔴 Срочное письмо!\\nОт: {{ $json.from_name }}\\nТема: {{ $json.subject }}\\nПричина: {{ $json.reasoning }}",
        "additionalFields": {}
      },
      "id": "51739f98-d8f1-4d3f-b0fd-0fdc5391bdad",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        64
      ],
      "webhookId": "439e9763-eb85-4882-96ac-6adab051847e",
      "credentials": {
        "telegramApi": {
          "id": "EM1SdNiKwEbGoMaC",
          "name": "Telegram account"
        }
      },
      "notes": "Подключи Telegram Bot credential и chat_id"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \n`Ты — AI-классификатор писем. Определи категорию и приоритет.\n\nКатегории: Urgent Complaint, Sales Inquiry, Support/Technical, Billing/Invoice, Spam/Promo, Partnership, Positive Feedback, Refund Request, Scheduling, General Question\n\nПриоритет:\n- High — угроза оттока, финансовый риск\n- Medium — важно, но не критично  \n- Low — не требует срочного ответа\n\nОтвечай ТОЛЬКО JSON:\n{\"category\": \"...\", \"priority\": \"...\", \"reasoning\": \"...\"}\n\n---\n\nПисьмо:\nТема: ${$json.subject}\nОтправитель: ${$json.from_name} (${ $json.from_email})\n\nТекст:\n${$json.body}\n`\n}}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        112,
        144
      ],
      "id": "eb98a763-a762-4990-abe0-4a68cce6e624",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        112,
        304
      ],
      "id": "653fb582-2c5f-4e80-9a69-1063559db93a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "eNyex5fmrPaddFy2",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "   {\n     \"type\": \"object\",\n     \"properties\": {\n       \"category\": {\"type\": \"string\"},\n       \"priority\": {\"type\": \"string\"},\n       \"reasoning\": {\"type\": \"string\"}\n     },\n     \"required\": [\"category\", \"priority\"]\n   }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        256,
        304
      ],
      "id": "92c72c70-ebb9-4832-b196-6c9ed13982b8",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read CSV File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV File": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Groq Response": {
      "main": [
        [
          {
            "node": "Save to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Airtable": {
      "main": [
        [
          {
            "node": "If Priority = High",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Priority = High": {
      "main": [
        [
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse Groq Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "75c0af77-00cd-4199-a6f3-6ac1b4ace09e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd43158e2f612dbef91bbee1c42bc2c38eb2aec604b6e9fd2e5230737a80c0bc"
  },
  "nodeGroups": [],
  "id": "TtTABCm4dYLHFEfP",
  "tags": []
}